<footer class="md-footer">
    <div class="md-footer__inner md-grid md-footer__grid md-typeset">
        <div class="md-footer__column">
          <div class="md-footer__heading">e-INFRA CZ</div>
          <span>
            CERIT-SC, with CESNET and IT4Innovations, are the three e-infrastructures that constitute the national e-INFRA CZ research infrastructure.
          </span>
        </div>
        <div class="md-footer__column">
          <div class="md-footer__heading">General information</div>
          <div class="md-footer__terms">
              <span>
                <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2aWV3Qm94PSIwIDAgMzIwIDUxMiIgd2lkdGg9IjMyMCIgaGVpZ2h0PSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGRlZnM+CiAgICA8cmFkaWFsR3JhZGllbnQgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIxOTEuOTUiIGN5PSIyNTYiIHI9IjEyOC4wMjUiIGlkPSJncmFkaWVudC0wIj4KICAgICAgPHN0b3Agb2Zmc2V0PSIwIiBzdHlsZT0ic3RvcC1jb2xvcjogcmdiYSgyNTUsIDI1NSwgMjU1LCAxKSIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEiIHN0eWxlPSJzdG9wLWNvbG9yOiByZ2JhKDIwNCwgMjA0LCAyMDQsIDEpIi8+CiAgICA8L3JhZGlhbEdyYWRpZW50PgogIDwvZGVmcz4KICA8cGF0aCBkPSJNMzEwLjYgMjMzLjRjMTIuNSAxMi41IDEyLjUgMzIuOCAwIDQ1LjNsLTE5MiAxOTJjLTEyLjUgMTIuNS0zMi44IDEyLjUtNDUuMyAwcy0xMi41LTMyLjggMC00NS4zTDI0Mi43IDI1NiA3My40IDg2LjZjLTEyLjUtMTIuNS0xMi41LTMyLjggMC00NS4zczMyLjgtMTIuNSA0NS4zIDBsMTkyIDE5MnoiIHN0eWxlPSJwYWludC1vcmRlcjogZmlsbDsgZmlsbDogdXJsKCNncmFkaWVudC0wKTsiLz4KPC9zdmc+" />
                <a href="/about/about-us/#how-to-read-the-documentation">Reading the documentation</a>
              </span>
              <span>
                <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2aWV3Qm94PSIwIDAgMzIwIDUxMiIgd2lkdGg9IjMyMCIgaGVpZ2h0PSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGRlZnM+CiAgICA8cmFkaWFsR3JhZGllbnQgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIxOTEuOTUiIGN5PSIyNTYiIHI9IjEyOC4wMjUiIGlkPSJncmFkaWVudC0wIj4KICAgICAgPHN0b3Agb2Zmc2V0PSIwIiBzdHlsZT0ic3RvcC1jb2xvcjogcmdiYSgyNTUsIDI1NSwgMjU1LCAxKSIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEiIHN0eWxlPSJzdG9wLWNvbG9yOiByZ2JhKDIwNCwgMjA0LCAyMDQsIDEpIi8+CiAgICA8L3JhZGlhbEdyYWRpZW50PgogIDwvZGVmcz4KICA8cGF0aCBkPSJNMzEwLjYgMjMzLjRjMTIuNSAxMi41IDEyLjUgMzIuOCAwIDQ1LjNsLTE5MiAxOTJjLTEyLjUgMTIuNS0zMi44IDEyLjUtNDUuMyAwcy0xMi41LTMyLjggMC00NS4zTDI0Mi43IDI1NiA3My40IDg2LjZjLTEyLjUtMTIuNS0xMi41LTMyLjggMC00NS4zczMyLjgtMTIuNSA0NS4zIDBsMTkyIDE5MnoiIHN0eWxlPSJwYWludC1vcmRlcjogZmlsbDsgZmlsbDogdXJsKCNncmFkaWVudC0wKTsiLz4KPC9zdmc+" />
                <a href="/about/contribute/">Contributor guide</a>
              </span>
              <span>
                <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2aWV3Qm94PSIwIDAgMzIwIDUxMiIgd2lkdGg9IjMyMCIgaGVpZ2h0PSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGRlZnM+CiAgICA8cmFkaWFsR3JhZGllbnQgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIxOTEuOTUiIGN5PSIyNTYiIHI9IjEyOC4wMjUiIGlkPSJncmFkaWVudC0wIj4KICAgICAgPHN0b3Agb2Zmc2V0PSIwIiBzdHlsZT0ic3RvcC1jb2xvcjogcmdiYSgyNTUsIDI1NSwgMjU1LCAxKSIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEiIHN0eWxlPSJzdG9wLWNvbG9yOiByZ2JhKDIwNCwgMjA0LCAyMDQsIDEpIi8+CiAgICA8L3JhZGlhbEdyYWRpZW50PgogIDwvZGVmcz4KICA8cGF0aCBkPSJNMzEwLjYgMjMzLjRjMTIuNSAxMi41IDEyLjUgMzIuOCAwIDQ1LjNsLTE5MiAxOTJjLTEyLjUgMTIuNS0zMi44IDEyLjUtNDUuMyAwcy0xMi41LTMyLjggMC00NS4zTDI0Mi43IDI1NiA3My40IDg2LjZjLTEyLjUtMTIuNS0xMi41LTMyLjggMC00NS4zczMyLjgtMTIuNSA0NS4zIDBsMTkyIDE5MnoiIHN0eWxlPSJwYWludC1vcmRlcjogZmlsbDsgZmlsbDogdXJsKCNncmFkaWVudC0wKTsiLz4KPC9zdmc+" />
                <a target="_blank" href="https://www.e-infra.cz/novinky">e-INFRA CZ News</a>
              </span>
            </div>
        </div>
        <div class="md-footer__column">
          <div class="md-footer__heading">e-INFRA CZ Support</div>
          <span>
            <div>
              <span class="md-icon" style="float: left;width: 15px;margin: 5px 5px 0 0;vertical-align: middle;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"></path></svg></span>
              <span>Available non-stop</span>
            </div>
            <div>
              <span class="md-icon" style="float: left;width: 15px;margin: 5px 5px 0 0;vertical-align: middle;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"></path></svg></span>
              <span>support@e-infra.cz</span>
            </div>
            <div>
              <span class="md-icon" style="float: left;width: 15px;margin: 5px 5px 0 0;vertical-align: middle;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"></path></svg></span>
              <span>+420 234 680 222</span>
            </div>
          </span>
        </div>
    </div>
    <div class="md-footer__organizations">
      <img src="/assets/images/cesnet.png" alt="">
      <img src="/assets/images/cerit.png" alt="">
      <img src="/assets/images/it4i.png" alt="" style="width: 200px;">
    </div>
    <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
        {% include "partials/copyright.html" %}
        {% if config.extra.social %}
          {% include "partials/social.html" %}
        {% endif %}
      </div>
    </div>
  </footer>