<footer class="md-footer">
    <div class="md-footer__inner md-grid md-footer__grid md-typeset">
        <div class="md-footer__column">
            <div class="md-footer__organizations">
                <img src="{{ 'assets/images/cesnet.png' | url }}" alt="">
                <img src="{{ 'assets/images/cerit.png' | url }}" alt="">
                <img src="{{ 'assets/images/it4i.png' | url }}" alt="">
            </div>
        </div>
        <div class="md-footer__column">
            <div class="md-footer__heading">e-INFRA CZ</div>
            <div class="md-footer__terms">
                <a target="_blank" href="https://www.e-infra.cz/cs/file/8c17a18b8d2d21bade1fe2b4b0efe81c/525/20210408_Podminky_e-INFRA-CZ_EN.pdf">Conditions for access to e-INFRA CZ infrastructure</a>
                <a target="_blank" href="https://www.e-infra.cz/en/personal-data-processing" >Processing of personal data</a>
                <!-- <a target="_blank" href="https://www.muni.cz/en/about-us/official-notice-board/personal-data-protection" >Processing of personal data</a> -->
            </div>
        </div>
        <div class="md-footer__column">
            <div class="md-footer__heading">e-INFRA CZ Support</div>
            <p>Available from Monday-Friday 9AM-5PM</p>
            <p>TEL: +420 234 680 222 | GSM: +420 602 252 531</p>
            <p>EMAIL: support@e-infra.cz</p>
        </div>
    </div>
    <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
        {% include "partials/copyright.html" %}
        {% if config.extra.social %}
          {% include "partials/social.html" %}
        {% endif %}
      </div>
    </div>
  </footer>