<footer class="md-footer">
    <div class="md-footer__inner md-grid md-footer__grid md-typeset">
        <div class="md-footer__column">
          <div class="md-footer__heading">General information</div>
          <div class="md-footer__terms">
              <a href="/about/about-us/#how-to-read-the-documentation">Reading the documentation</a>
              <a href="/about/contribute/">Contributor guide</a>
              <a target="_blank" href="https://www.e-infra.cz/novinky">e-INFRA CZ News</a>
              <a target="_blank" href="https://www.e-infra.cz/cs/file/8c17a18b8d2d21bade1fe2b4b0efe81c/525/20210408_Podminky_e-INFRA-CZ_EN.pdf">Conditions for access to e-INFRA CZ infrastructure</a>
              <a target="_blank" href="https://www.e-infra.cz/en/personal-data-processing" >Processing of personal data</a>
          </div>
        </div>
        <div class="md-footer__column">
        </div>
        <div class="md-footer__column">
            <div class="md-footer__heading">e-INFRA CZ Support</div>
            <span>Available non-stop<br />
            TEL: +420 234 680 222 | GSM: +420 602 252 531 <br />
            EMAIL: support@e-infra.cz</span>
        </div>
    </div>
    <div class="md-footer__organizations">
      <img src="/assets/images/cesnet.png" alt="">
      <img src="/assets/images/cerit.png" alt="">
      <img src="/assets/images/it4i.png" alt="" style="width: 250px;">
    </div>
    <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
        {% include "partials/copyright.html" %}
        {% if config.extra.social %}
          {% include "partials/social.html" %}
        {% endif %}
      </div>
    </div>
  </footer>