dag {
   enabled = true
   file = './results/pipeline_info/pipeline_dag.svg'
}

report {
   enabled = true
   file = './results/pipeline_info/execution_report.html'
}

timeline {
   enabled = true
   file = './results/pipeline_info/execution_timeline.html'
}

trace {
   enabled = true
   file = './results/pipeline_info/execution_trace.txt'
}

