k8s {
   namespace = 'xhejtman-ns'
   runAsUser = 1000
   launchDir = '/mnt/data1'
   workDir = '/mnt/data1/tmp'
}

executor {
  queueSize = 15
}

process {
   executor = 'k8s'
   memory = '500M'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]

}
