env {
 NUMBA_CACHE_DIR = '/tmp'
}

k8s {
   namespace = 'xhejtman-ns'
   runAsUser = 1000
   launchDir = '/mnt/data1'
}

executor {
  queueSize = 40
}

process {
   executor = 'k8s'

   pod = [ securityContext: [ fsGroupChangePolicy: "OnRootMismatch", runAsUser: 1000, runAsGroup: 1, fsGroup: 1 ], env: [ NUMBA_CACHE_DIR: '/tmp' ], [nodeSelector:'storage=local-ssd'] ]
}

manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.26.1'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!>=20.10.0'
}

params {
   global {
      project_name = 'test3'
      outdir = 'out'
      species = 'human'
      genome {
         assembly = 'hg38'
      }
   }
   misc {
      test {
         enabled = false
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.4.0'
      publish {
         compressionLevel = 6
         annotateWithBatchVariableName = false
         mode = 'link'
      }
   }
   sc {
      file_converter {
         off = 'h5ad'
         tagCellWithSampleId = true
         remove10xGEMWell = false
         useFilteredMatrix = true
         makeVarIndexUnique = false
      }
      scenic {
         container = 'aertslab/pyscenic:0.10.4'
         scenicoutdir = 'out/scenic/'
         filteredLoom = 'input/bcells_tonsil_BCP5.loom'
         scenicOutputLoom = 'SCENIC_output.loom'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
         mode = 'dask_multiprocessing'
         client_or_address = ''
         cell_id_attribute = 'CellID'
         gene_attribute = 'Gene'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         skipReports = false
         grn {
            algorithm = 'grnboost2'
            tfs = '/mnt/data1/allTFs_hg38.txt'
         }
         cistarget {
            adj = 'adj.tsv'
            type = ''
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_orthologous_identity = 0.0
            max_similarity_fdr = 0.001
            annotations_fname = ''
            thresholds = '0.75,0.90'
            top_n_targets = 50
            top_n_regulators = '5,10,50'
            min_genes = 20
            all_modules = false
            motifsDb = '/mnt/data1/hg38__refseq-r80__*feather'
            motifsAnnotation = '/mnt/data1/motifs-v9-nr.hgnc-m0.001-o0.0.tbl'
            tracksDb = '/mnt/data1/encode_20190621__ChIP_seq_transcription_factor.hg38__refseq-r80__*feather'
            tracksAnnotation = '/mnt/data1/encode_project_20190621__ChIP-seq_transcription_factor.homo_sapiens.hg38.bigwig_signal_pvalue.track_to_tf_in_motif_to_tf_format.tsv'
         }
         aucell {
            output = 'aucell_output.loom'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_genes_regulon = 0
            min_regulon_gene_occurrence = 0
         }
         numRuns = 10
         aggregate_features {
            use_chunking = true
            output_format = 'csv'
            compression = 'gzip'
         }
      }
      scope {
         genome = ''
         tree {
            level_1 = ''
            level_2 = ''
            level_3 = ''
         }
      }
   }
}

process {
   executor = 'local'
   cpus = 2
   memory = '60 GB'
   clusterOptions = '-A cluster_account'
   withLabel:compute_resources__default {
      maxForks = 10
      time = '1h'
   }
   withLabel:compute_resources__minimal {
      maxForks = 10
      cpus = 1
      memory = '1 GB'
      container = 'aertslab/pyscenic:0.10.4'
   }
   withLabel:compute_resources__mem {
      maxForks = 10
      cpus = 4
      memory = '160 GB'
   }
   withLabel:compute_resources__cpu {
      maxForks = 10
      cpus = 20
      memory = '80 GB'
   }
   withLabel:compute_resources__report {
      maxForks = 10
      cpus = 1
      memory = '160 GB'
   }
   withLabel:compute_resources__24hqueue {
      maxForks = 10
      time = '24h'
   }
   withLabel:'compute_resources__scenic.*' {
      cpus = 4
      memory = '60 GB'
      time = '24h'
      maxForks = 10
   }
   withLabel:compute_resources__scenic_grn {
      maxForks = 10
      cpus = 4
      memory = '120 GB'
      time = '24h'
   }
   withLabel:compute_resources__scenic_cistarget {
      maxForks = 10
      cpus = 4
      memory = '80 GB'
   }
   withLabel:compute_resources__scenic_aucell {
      maxForks = 10
      cpus = 4
      memory = '80 GB'
   }
   withLabel:'compute_resources__scenic_multiruns.*' {
      maxForks = 10
      cpus = 4
      memory = '60 GB'
      time = '24h'
   }
   withLabel:compute_resources__scenic_multiruns_motifs2regulons {
      maxForks = 10
      memory = '60 GB'
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

min {
   enabled = false
}

vsc {
   enabled = false
}
