.md-nav__icon.md-icon svg {
  height: 0.6rem;
}

.md-nav__icon.md-icon {
  float: left;
  padding-right: .2rem;
}

.md-nav__it4i_link {
    display: block;
    transition: color 0.125s;
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: hidden
}

a:not([href*="//"]) {
    /* CSS for internal links */
}

a.md-footer-social__link.fa.fa-globe {
    !background: none;
}

a[href*="//"]:not( [href*='127.0.0.1'] ):not( [href*='docs.it4i.cz'] ):not( [href*='gitlab.it4i.cz'] ):not( [href*='code.it4i.cz'] ):not( [href*='https://www.it4i.cz'] ):not( [href*='https://support.it4i.cz'] )  {
    /*CSS for external links */
    background: transparent url("/img/external.png") no-repeat right 0px top 1px;
    background-size: 12px;
    padding: 1px 16px 1px 0px;
}

/* */
.md-nav__it4i_link:after {
    font-family: Material Icons;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    speak: none;
    word-wrap: normal;
    direction: ltr
}

.md-nav__item--nested>.md-nav__it4i_link:after {
    content: "keyboard_arrow_down"
}

html .md-nav__it4i_link[for=toc],html .md-nav__it4i_link[for=toc]+.md-nav__it4i_link:after,html .md-nav__it4i_link[for=toc]~.md-nav {
    display: none
}

/*
.md-nav__it4i_link[data-md-state=blur] {
    color: rgba(0,0,0,.54)
}
*/

.md-nav__it4i_link--active,.md-nav__it4i_link:active {
    color: #3f51b5
}

.md-nav__it4i_link:focus,.md-nav__it4i_link:hover {
    color: #536dfe
}
@media only screen and (max-width: 59.9375em) {
    html .md-nav__it4i_link[for=toc] {
        display: block;
        padding-right: 4.8rem
    }

    html .md-nav__it4i_link[for=toc]:after {
        color: inherit;
        content: "toc"
    }

    html .md-nav__it4i_link[for=toc]+.md-nav__it4i_link {
        display: none
    }

    html .md-nav__it4i_link[for=toc]~.md-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .md-nav--primary .md-nav__item--nested>.md-nav__it4i_link {
        padding-right: 4.8rem
    }

    .md-nav--primary .md-nav__item--nested>.md-nav__it4i_link:after {
        content: "keyboard_arrow_right"
    }

    .md-nav--primary .md-nav__it4i_link {
        position: relative;
        padding: 1.6rem
    }

    .md-nav--primary .md-nav__it4i_link:after {
        position: absolute;
        top: 50%;
        right: 1.2rem;
        margin-top: -1.2rem;
        color: rgba(0,0,0,.54);
        font-size: 2.4rem
    }

    .md-nav--primary .md-nav__it4i_link:focus:after,.md-nav--primary .md-nav__it4i_link:hover:after {
        color: inherit
    }

    .md-nav--primary .md-nav--secondary .md-nav .md-nav__it4i_link {
        padding-left: 2.8rem
    }

    .md-nav--primary .md-nav--secondary .md-nav .md-nav .md-nav__it4i_link {
        padding-left: 4rem
    }

    .md-nav--primary .md-nav--secondary .md-nav .md-nav .md-nav .md-nav__it4i_link {
        padding-left: 5.2rem
    }

    .md-nav--primary .md-nav--secondary .md-nav .md-nav .md-nav .md-nav .md-nav__it4i_link {
        padding-left: 6.4rem
    }
}
@media only screen and (min-width: 76.25em) {
    .md-nav__item--nested>.md-nav__it4i_link:after {
        display: inline-block;
        -webkit-transform-origin: .45em .45em;
        transform-origin: .45em .45em;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        vertical-align: -.125em
    }

    .js .md-nav__item--nested>.md-nav__it4i_link:after {
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s,-webkit-transform .4s
    }

    .md-nav__item--nested .md-nav__toggle:checked~.md-nav__it4i_link:after {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg)
    }
}
